*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  width: 55rem;
  margin: 0 auto;
  color: #000;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.2;
  text-transform: uppercase;
}

p {
  line-height: 1.2;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
